/* design the page */
/* media query for screens with a minimum width of 20px */
@media screen and (min-width: 20px) {
    body {
        background-color: antiquewhite;
    }

    h1 {
        font-size: 20px;
        text-align: center;
    }

    .first {
        font-size: 15px;
    }

    .text {
        text-align: center;
    }

    footer {
        color: blueviolet;
        text-align: center
    }
}

/* media query for screens with a minimum width of 1000px */
@media screen and (min-width: 1000px) {

    body {
        background-color: rgba(205, 255, 211, 0.491);
    }

    h1 {
        font-size: 40px;
        text-align: center;
    }

    .first {
        text-align: center;
        font-size: 20px;
    }

    .text {
        text-align: center;
        font-size: 20px;
    }

    footer {
        text-align: center;
        color: aqua;
    }
}